.vscode
__pycache__
.DS_Store
*.csv
*.pdf
*.synctex*
*.fls
*.fdb_latexmk
*.aux
*.log
*.
*.blg
*.bbl
*.out
data
*.pth
*.pkl
*.ods*
*.png
*.cut
*.bcf
*.xml
*SAVE-ERROR
*.pylintrc
!figures/*.pdf
RESULTS/*
*.zip
!_paper/PICS/*